In [1]:
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver

# FOR VM
# options = Options()
# options.headless = True
# service = Service(executable_path="chromium.chromedriver")
# b = webdriver.Chrome(options=options, service=service)

b = webdriver.Chrome() # browser

In [4]:
url = "https://tyler.caraza-harter.com/cs320/tricky/page1.html"
b.get(url)
print(b.page_source)

<html><head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      function addTable() {
        var html = "<table border=1 id='coords'>\n";
        html += "<tr><td>x</td><td>y</td></tr>\n";
        for (i = 0; i < 10; i++) {
          html += "<tr><td>" + (i*2) + "</td><td>" + (i*2+1) + "</td></tr>\n";
        }
        html += "</table>";

        var t = document.createElement("div");
        t.innerHTML = html;
        document.body.appendChild(t);
      }

      function main() {
        setTimeout(addTable, 1000)
      }
      </script>
  </head>
  <body onload="main()">
    <h1>Welcome</h1>
    <h3>Here's a table</h3>
    <table border="1" id="alpha">
      <tbody><tr><td>A</td><td>B</td><td>C</td></tr>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
    </tbody></table>

    <h3>And another one...</h3>


</body></html>

In [5]:
print(b.page_source) # HTML represention of DOM tree

<html><head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      function addTable() {
        var html = "<table border=1 id='coords'>\n";
        html += "<tr><td>x</td><td>y</td></tr>\n";
        for (i = 0; i < 10; i++) {
          html += "<tr><td>" + (i*2) + "</td><td>" + (i*2+1) + "</td></tr>\n";
        }
        html += "</table>";

        var t = document.createElement("div");
        t.innerHTML = html;
        document.body.appendChild(t);
      }

      function main() {
        setTimeout(addTable, 1000)
      }
      </script>
  </head>
  <body onload="main()">
    <h1>Welcome</h1>
    <h3>Here's a table</h3>
    <table border="1" id="alpha">
      <tbody><tr><td>A</td><td>B</td><td>C</td></tr>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
    </tbody></table>

    <h3>And another one...</h3>


<div><table border="1" id="coords">
<tbody><tr><td>x</td><td>y</td></tr>
<tr><td>0</td><td>1</td></tr>
<tr><td>2</td><td>3</td></tr>
<tr><td>4</td><td>5</td></tr>
<tr><td>6</td><td>7</td></tr>
<tr><td>8</td><td>9</td></tr>
<tr><td>10</td><td>11</td></tr>
<tr><td>12</td><td>13</td></tr>
<tr><td>14</td><td>15</td></tr>
<tr><td>16</td><td>17</td></tr>
<tr><td>18</td><td>19</td></tr>
</tbody></table></div></body></html>